.top-section {
    background-color: #242a2f;
}
.title {
    color: #fff;
    margin: 24px 0;
    font-size: 32px;
}
.text-main {
    color: #fff;
    width: 404px;
    margin: 24px 0;
    font-size: 20px;
    color: #d1bae8;
}
.Global-img {
    width: 400px;
}
.top-section {
    padding: 50px 0;
}
.btn-join {
    background-color: #691f66;
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 6px;
    width: 300px;
    padding: 12px;
}
@media (min-width: 768px) and (max-width: 991.98px){
    .learn-section{
        flex-direction: column;
    }
    .title {
        text-align: center;
    }
    .Global-img {
        width: 250px;
    }
    .text-main {
        width: 400px;
        margin: 0 auto ; 
        text-align: center;
     
    }
    .btn-join {
        display: flex;
        justify-content: center;
        margin: 24px auto;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .learn-section{
        flex-direction: column;
    }
    .title {
        text-align: center;
    }
    .Global-img {
        width: 250px;
    }
    .text-main {
        width: 400px;
        margin: 0 auto ; 
        text-align: center;
     
    }
    .btn-join {
        display: flex;
        justify-content: center;
        margin: 24px auto;
    }

}

@media (max-width: 575px) {

    .learn-section{
        flex-direction: column;
    }
    .title {
        text-align: center;
    }
    .Global-img {
        width: 250px;
    }
    .text-main {
        width: 250px;
        margin: 0 auto ; 
        text-align: center;
     
    }
    .btn-join {
        margin: 24px 0;
    }
}
@media (max-width: 320px) {
.learn-section{
    flex-direction: column;
}
.title {
    text-align: center;
}
.Global-img {
    width: 250px;
}
.text-main {
    width: 250px;
    margin: 0 auto ; 
    text-align: center;
 
}
.btn-join {
    margin: 24px 0;
}
}
